{% extends 'mi_blog/base.html' %}

{% block contenido %}

Mi nombre es Joaquin Vettorazzi, tengo 25 años y este es mi blog sobre Futbol uruguayo.
No tengo experiencia en el mundo de la programacion, por lo que es mi primer proyecto en Python. Soy licenciado en
Administracion de Empresas y Marketing.

Desde muy chico juego al futbol y siempre fui un apasionado de este deporte.
El objetivo de este blog es mostrar contenido relevante del mejor deporte de mi paîs. Considero que es el semillero de estrellas
mundiales del futbol, pero no es considerado como tal. Mi mision con este blog es, a través de información acertada, volver a darle
la relevancia al futbol uruguayo, generar interés y que la gente lo vea de nuevo como un diamente en bruto.


{% endblock %}