{% extends 'ejemplo/base.html' %}

{% block contenido %}
  
  <form action="/mostrar_personas" method="post">
    {% csrf_token %}
    {{ form }}

    <h1>Lista de personas que nos visitan</h1>

  </form>

    {% for personas in lista_personas %}
        <ul>
            <li> Nombre: {{personas.nombre}}, Dirección: {{personas.sexo}}, Pasaporte: {{personas.dni}} </li>
            <a href='/mostrar_personas/actualizar/{{ personas.id }}'>Actualizar</a>
            <a href='/mostrar_personas/borrar/{{ personas.id }}'>Borrar</a>
        </ul>
    {% endfor %}
{% endblock %}

